body
{
    background-color: #99CCFF;
    max-width: 1200px;
    margin: 0px auto;
    font-family: monospace;
}

/* html
{
    min-width: 600px;
    max-width: 900px;
} */
.html5Ahead
{
    width: 110px;
}
.html5Logo
{
    width: 40%;
    float: left;
}
.thehtml5project
{
    display: inline;
    position: relative;
    bottom: 99px;
}
div:not(.footer)
{
    border: solid 2px lightpink;
    background-color: white ;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 3px;
}
.header
{
    width: 80%;
}
.mainContent
{
    float: left;
    width: 60%;
}
.Survey
{
    float: left;
    width: 25%;
    border-radius: 0px 0px 30px;
}

form
{
    margin-left: 20px;
}

.footer
{
    clear: both;
}
h2 {
    display: block;
    font-size: 1.3em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  .square{
    list-style-type: square;
    list-style-position: inside;
  }
  .linkfooter
  {
      text-align: center;
      display: inline-block;
      width: 10%;
      background-color: white;
      padding: 3px;
      border: solid 2px blue;
      margin-left: 1px;
  }

.firstlinkfooter
  {
      margin-left: 150px;
  }

  a
  {
      font-size: 0.54rem;
  }

  input
  {
      width: 35%;
  }

  p
  {
      margin: 5px;
  }