Program
{
    background-color: beige;
    font-family: monospace;
    border: 1px solid gray;
    font-size: 4rem;
}
Event
{
    margin: 0 auto;
    background-color: pink;
    border: 4px dashed violet;
    display: block;
    width: 50%;
}
StartTime
{
    color: white;
    background-color: black;
    text-align: center;
    padding: 20px;
}
Event::before
{
    content: "ms";
}