p {
  font-size: 4rem;
  color: gray;
  margin: 9px;
  text-align: center;
}
.container,
.container2 {
  display: flex;
  justify-content: center;
  border: 2px solid gray;
}

.container2
{
    margin-left: 35%;
    width: 30%;
    flex-direction: column;
    justify-content: center;
}

.pink {
  background-color: pink;
}
.blue {
  background-color: blue;
}
.brown {
  background-color: brown;
}

span {
  visibility: hidden;
}
