span {
  background-color: rgba(255, 0, 0, 0.5);
}
.bear {
  background-color: rgb(151, 101, 96);
}
.maintext {
  flex-direction: row;
  background-color: white;
}
* {
  background-color: #9467f9;
}
.underconstruction {
  font-family: monospace;
  align-self: center;
  color: red;
  background-color: white;
  padding: 40px;
}
.result
{
  width: 500px;
}