.flex-container {
    width: 800px;
    height: 150px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

img{
    width: 100px;
}

.flex-item-1 {
    order: 3;
}
.flex-item-2 {
    order: 6;
}
.flex-item-3 {
    order: 1;
}
.flex-item-4 {
    order: 2;
}
.flex-item-5 {
    order: 4;
}
.flex-item-6 {
    order: 5;
}