/* general styles */
body{
	font-family:Arial
  }

h1{
	font-size: 175%;
	padding: 10px;
	margin: 10px;
}
h2 {
	font-size: 150%;
	padding: 10px;
	margin: 10px;
}
h3 {
	font-size: 125%;
	padding: 10px;
	margin: 10px;
}
p {
	padding: 10px;
	margin: 10px;
}

